/* google font link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

/* Common Styles or Utilities */
body {
    font-family: 'Poppins', sans-serif;
    background: var(--body-color); 
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 35px;
}
.container {
    background-color: var(--white);
    Width: 870px;
    padding: 35px;
    border-radius: 5px;
    margin-top: 20px;
}
hr {
    border: 1px solid #D1D1D1;
    margin-bottom: 35px;
}

:root {
    --primary-color: #562EFF;
    --body-color: #F3F1FF;
    --white: #FFFFFF;
    --fw-500: 500;
    --fw700: 700;
    --fw-800: 800;
}


/* Top Players & Blogs Styles */
.top_players {
    margin-bottom: 30px;
}
.section_title {
    color: var(--primary-color);
    font-size: 24px;
    padding-bottom: 30px;
}
.players_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.players {
    font-size: 18px;
    display: flex;
    align-items: center;
}
.players img {
    width: 56px;
    height: 56px;
}
.player_name {
    font-weight: var(--fw-500);
    font-size: 18px;
    margin-left: 16px;
}


/* Top Blogs Styles */
.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
}
.blog {
    display: flex;
    align-items: center;
}
.thumbnail img {
    width: 177px;
    height: 117px;
}
.blog_info {
    padding-left: 16px;
}
.blog_title {
    font-size: 20px;
}
.author {
    color: #9F9F9F;
    font-size: 16px;
    font-weight: var(--fw-500);
}
.author a {
    font-size: 16px;
    color: var(--primary-color);
    text-decoration: none;
}

/* Courses Styles */
.courses {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.course_banner img {
    width: 224px;
    height: 104px;
}
.course_timespan {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star {
    font-size: 12px;
}
.fa-star.filled {
    color: #FFC014;
}
.fa-star.empty {
    color: #AEAEAE;
    opacity: 0.25;
}
.course_span {
    background: #FFE4E8;
    border-radius: 16px;
    padding: 5px 7px;
    color: #FF4A60;
}

/*! Media Query */
/* Small Devices */
@media only screen and (max-width: 668px) {
    .container {
        width: 100%;
    }
    .section_title {
        text-align: center;
    }
    .players_list, .blogs, .courses {
        grid-template-columns: repeat(1, 1fr);
    }
    .blog {
        flex-direction: column;
        align-items: flex-start;
    }
    .players, .blogs {
        flex-direction: column;
    }
}

/* Tablet Devices */
@media only screen and (min-width: 669px) and (max-width: 992px) {
    .container {
        width: 100%;
    }
    .players_list, .courses {
        grid-template-columns: repeat(2, 1fr);
    }
}